# Gradle state
.gradle

# Build output
build
out

# Idea ignores
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml

# Idea ignores for Gradle project
*.iml
.idea/modules.xml
.idea/gradle.xml
.idea/libraries

# Output files
spring-shell.log
.idea/*
*.log
*.yml
